<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div class="container">

    <form class="todo-form">
        <mat-form-field class="mat-input">
            <mat-label>New todo</mat-label>
            <input matInput placeholder="Ranger le lave vesselle" [formControl]="nameControl">
        </mat-form-field>

        <button mat-raised-button type="button" (click)="createTodo()">Ajouter</button>
    </form>

    <div class="todo-container" *ngIf="todos$ | async as todo; else loading">
        <app-todo *ngFor="let task of todos$ | async" [task]="task" (todoDeleted)="updateTodosList()"></app-todo>
    </div>


</div>